on: [push, pull_request]

name: CI
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.13.x]
        platform: [ubuntu-18.04, macos-10.15]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Unit Test
        run: |
          make test && make coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.txt


      - name: Install xdev
        run: |
          git clone git@github.com:xuperchain/xdev.git && cd xdev && make install
#          go get does not work because of go mod replace
      - name: Run Contract Example test
        run: |
          make
